@import url("https://use.typekit.net/btw4fiz.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--font-roca: 'roca', sans-serif;

		--background: var(--mystic-sky);
		--foreground: 0 0% 98%;

		--nav: var(--woody);

		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240, 23%, 95%;

		--hackathon-primary: var(--forest-green);

		--popover: 142 14% 77%;
		--popover-foreground: var(--woody);

		--card: var(--popover);
		--card-foreground: var(--woody);

		--border: 0 0 100%;
		--input: var(--marrow);

		--primary: var(--woody);
		--primary-foreground: 0 0% 98%;

		--secondary: 77 21% 37%;
		--secondary-foreground: 0 0% 98%;

		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 85.7% 97.3%;

		--ring: 240 3.7% 15.9%;

		--radius: 0.5rem;

		--gradient-color-1: #8FBC8F;
		--gradient-color-2: #9D6332;
		--gradient-color-3: #71491F;
		--gradient-color-4: #596438;

		--forest-green: 77 21% 37%;
		--pixy-blue: 192 94% 63%;
		--woody: 38 68% 16%;
		--marrow: 19 54% 86%;
		--mystic-sky: 140 10% 59%;
	}

	/* .dark {
		--background: var(--mystic-sky);
		--foreground: 0 0% 98%;

		--nav: var(--woody);

		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240, 23%, 95%;

		--hackathon-primary: var(--marrow);

		--popover: 142 14% 77%;
		--popover-foreground: var(--woody);

		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;

		--border: 0 0 100%;
		--input: 240 3.7% 15.9%;

		--primary: var(--woody);
		--primary-foreground: 0 0% 98%;

		--secondary: 77 21% 37%;
		--secondary-foreground: 0 0% 98%;

		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 85.7% 97.3%;

		--ring: 240 3.7% 15.9%;
	} */
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
}

.no-select {
	user-drag: none;
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.parallax-effect-img {
	transform-style: preserve-3d;
	transform: perspective(1000px);
}

.event-pass-img {
	transform: translateZ(40px);
}

.wild-gradient {
	background: linear-gradient(135deg, #f7ff0a, #a8f33f, #59e063, #00ca7f, #00b091, #009697, #007b8f, #0a607b);
	/* made at https://learnui.design/tools/gradient-generator.html */
}

.hero-section {
	/* background-image: url("/design/datathon_bg_full.svg"); */
	/* background-size: cover; */
	/* background-attachment: fixed; */
	background-color: #8CA193;
}

.bg-forest-ground {
	background-image: url("/design/grass_seamless.svg");
	background-size: contain;
	background-repeat: repeat-y;
}

.bg-forest-ground-top {
	background-image: url("/design/grass_full.svg");
	background-size: 100%;
	background-repeat: repeat-y;
}


.green-arch-top {
	background-image: url("/design/green_arch_top.svg");
	background-size: cover;
	background-repeat: no-repeat;
	aspect-ratio: 579.8 / 294.4;
}

.green-arch-content {
	background-image: url("/design/green_arch_content.svg");
	background-size: contain;
	background-repeat: no-repeat;
	aspect-ratio: 579.8 / 649.27;
}

.green-arch-bottom {
	background-color: url("/design/green_arch_bottom.svg");
	background-size: cover;
	background-repeat: no-repeat;
	aspect-ratio: 503.34 / 22.2;
}

.white-arch-top {
	background-image: url("/design/white_arch_top.svg");
	background-size: cover;
	background-repeat: no-repeat;
	aspect-ratio: 503.34 / 225.4;
}

.white-arch-content {
	background-image: url("/design/white_arch_content.svg");
	background-size: contain;
	background-repeat: no-repeat;
	aspect-ratio: 503.34 / 731.4;
}

.white-arch-bottom {
	background-color: url("/design/white_arch_bottom.svg");
	background-size: cover;
	background-repeat: no-repeat;
	aspect-ratio: 503.34 / 22.2;
}

.solid-shadow {
	box-shadow: 1.25rem 1.25rem 0 var(--marrow);
}

/* svg.curved-title {
	transform: rotate(0);
}

svg.curved-title text {
	text-anchor: middle;
	fill: var(--foreground);
} */